/* CSS for Quiz  */

/* Padding and margins added  */
body {
	padding: 5px 25px;
	margin:	25px;
}

/* paragraph fon size  */
p {
	font-size: 18px;
}

/* Formastting for the header  */
.header-row {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Creates flex box  */
.row {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 5px 25px;
	margin:	25px;
}

/* start button made into a flex box  */
.start-button-display {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Background colour added  */
.start-quiz {
	background-color: aquamarine;
}

/* High score button. Removes most of the styling  */
#high-score {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-weight: bold;
	font-size: 18px;
}

/* Formating the list. Changes background and text. adds a curved boarder  */
li {
	background-color: lightpink;
	color: black;
	padding: 0px;
	margin-top: 10px;
	border-radius: 25px;
  	border: 3px solid darkmagenta;
  	width: 150px;
  	height: 25px;
	text-align: center;

}

/* formatting for the button  */
button {
	background-color: aquamarine;
	margin: 5px;
}

/* Formatting for the timer  */
#timer {
	margin: 5px;
}

/* formatting for when you hover over an answer display in the list  */
li:hover {
	background-color: sandybrown;
}